html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: var(--blue);
}

.responsive-img {
  width: 100%;
  height: auto;
}